<h3>
        Other Resources
    </h3>
     <p><strong>National Information Resources</strong></p>
     <ul>
         <li><a href="http://zaraibaithak.com/" target="_self" title="">Zarai Baithak</a> (UAF)</li>
         <li><a href="http://pakissan.com/english/horticulture/fruits.shtml" target="_self" title="">Pakissan, Fruit</a></li>
         <li><a href="http://www.agripunjab.gov.pk/" target="_self" title="">Agri Punjab</a></li>
         <li>PARC <a href="http://www.parc.gov.pk/index.php/en/farmer-section" target="_self" title="">farmer section</a></li>
         <li><a href="http://zaraimedia.com" target="_self" title="">zaraimedia.com</a></li>
         <li><a href="http://http//www.plantwise.org/KnowledgeBank/home.aspx" target="_self" title="">Plantwise</a> (CABI)</li>
     </ul>
    <p><strong>International Resources</strong></p>
    <ul>
        <li><a href="http://www.plantwise.org/" title="">Plantwise (CABI)</a></li>
        <li><a href="http://hortkb.weebly.com" title="">e-Horticulture (UC Davis)</a></li>
        <li><a href="http://www.ipm.ucdavis.edu/" title="">UC IPM</a></li>
    </ul>
    <p><span><b>National partners</b></span></p>
    <ul>
        <li><a href="http://www.uaf.edu.pk/‎" title="">University of Agriculture Faisalabad</a></li>
        <li><a href="http://www.parc.gov.pk/index.php/en/" title="">Pakistan Agricultural Research Council</a></strong> (PARC)</li>
        <li><a href="http://www.uaar.edu.pk/" title="">Arid university</a>Pir Mehr Ali Shah Arid Agriculture University Rawalpinid Islamabad, Punjab)</li>
    </ul>
    <p><b>International partners </b></p>
    <ul>
        <li><a href="http://cimmyt.org" title="">CIMMYT</a></li>
        <li><a href="http://ilri.org" title="">ILRI</a></li>
        <li><a href="http://irri.org" title="">IRRI</a></li>
        <li><a href="http://ucdavis.edu" title="">UC Davis</a></li>
        <li><a href="http://avrdc.org" title="">World Vegetable</a></li>
    </ul>
    <p><strong>News updates</strong></p>
    <ul>
        <li><a href="http://blog.cimmyt.org/?tag=pakistan">CIMMYT Pakistan Blog </a></li>
        <li><a href="http://tribune.com.pk/story/647304/information-technology-uaf-sets-up-website-to-help-farmers/">December meeting UAF</a></li>
    </ul>