<footer>
    <div class="footer_contents">
    <p><p>The site is managed by UC Davis in collaboration with its major partners (CIMMYT, IRRI, ILRI, AVRDC and PARC).</p>
<p><em><strong>Disclaimer of Liability:</strong> With respect to documents available from this site, neither UC Davis nor any of their employees or partners, makes any warranty, express or implied, including the warranties of merchantability and fitness for a particular purpose, or assumes any legal liability or responsibility for the accuracy, completeness, or usefulness of any information, apparatus, product, or process disclosed, or represents that its use would not infringe privately owned rights.</em></p>
<p> </p>
<p> <i>This website is made possible by the generous support of the American people through the United States Agency for International Development (USAID). The contents are the responsibility of the AIP Consortium and do not necessarily reflect the views of USAID or the United States Government.</i></p>
<p><a href="http://creativecommons.org/licenses/by/4.0/" rel="license"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International License</a></p></p>
        <div class="foot_top">
            <ul class="footer-list no-bullet">
                <li><a href="/">{{ site.title }}</a></li>
            </ul>
        </div>
        <div class="foot_bottom">
            <ul class="footer-list no-bullet">
                <li>&copy; Copyright 2000-
                    <script language="JavaScript" type="text/javascript">
                    now = new Date
                    theYear = now.getYear()
                    if (theYear < 1900)
                        theYear = theYear + 1900
                    document.write(theYear)
                    </script>
                    The Regents of the University of California, Davis campus. All rights reserved.
                </li>
                <!-- <li><a href="http://kb.sparknearby.com/legal">Contact</a></li>
                <li><a href="/posts/all">Recent</a></li> -->
            </ul>
            <!-- <ul class="footer-list no-bullet float-right">
                <li><a href="https://twitter.com/SparkNearby"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/Spectafy"><i class="fa fa-facebook"></i></a></li>
            </ul> -->
        </div>
    </div>
</footer>
