<header>
    <div class="header_contents">
        <div class="logo_wrapper">
            <a href="/"><img class="caeslogo" src="/media/epakag_logo.svg" alt=""></a>
        </div>
        <div class="search_wrapper">
        <img src="/media/AIP.jpg" alt="">
               <!--  <form>
                    <input class="search_input" type="text" value="">
                </form> -->
        </div>
    </div>
</header>
<div class="nav_wrapper">
    <nav id="nav" role="navigation">
        <a class="nav_open" href="#nav" title="Show navigation"><i class="fa fa-bars"></i></a>
        <a class="nav_close" href="#" title="Hide navigation"><i class="fa fa-times"></i></a>
        <ul id="nav_upperlevel">
        <li>
            <a href="/about" aria-haspopup="true">About</a>
           
        </li>
            <li>
                <a href="/cereals" aria-haspopup="true">Cereals</a>
                <ul class="submenu">
                    <li><a href="/cereals/maize">Maize</a></li>
                    <li><a href="/cereals/rice">Rice</a></li>
                    <li><a href="/cereals/wheat">Wheat</a></li>
                    <li><a href="/cereals/videos">Videos</a></li>
                </ul>
            </li>
            <li>
                <a href="/vegetables" aria-haspopup="true">Vegetables</a>
                <ul class="submenu">
                    <li><a href="/vegetables/bitter-gourd">Bitter Gourd</a></li>
                     <li><a href="/vegetables/eggplant">Eggplant</a></li>
                    <li><a href="/vegetables/pepper">Pepper</a></li>
                    <li><a href="/vegetables/tomatoes">Tomatoes</a></li>
                    <li><a href="/vegetables/structures">Structures</a></li>
                    <li><a href="/vegetables/seed_production">Seed Production</a></li>
                    <li><a href="/vegetables/videos">Postharvest</a></li>
                </ul>
            </li>
            <li>
                <a href="/treecrops" aria-haspopup="true">Treecrops</a>
                <ul class="submenu">
                    <li><a href="/treecrops/citrus">Citrus</a></li>
                    <li><a href="/treecrops/mango">Mango</a></li>
                    <li><a href="/treecrops/videos">Videos</a></li>
                </ul>
            </li>
            <li>
                <a href="/livestock">Livestock</a>
            </li>
            <li>
                <a href="/vocational_training">Vocational Training</a>
            </li>
        </ul>
    </nav>
</div>
